 # Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Javascript

**Objectives:**
- Add comments to code cell
- Create markdown cells
- Add ordered and unorderd lists to cell
- Format content of markdown cells with heading styles

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools|
| ------------- | 
| Jupyter Notebooks |
| RStudio |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This is a simple arithmetic expression to mtiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
200 //60

3

## Author 
Riley Corpac